/* TAILLE ELEMENTS */
.header__baniere {
	height: 30vh;
}

.header__baniere__img {
	width: 100%;
	height: 100%;
}

/* TYPO */
.italic {
	font-family: "Dancing Script", cursive;
}

body>* {
	width: 100%;
}

.resto {
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
}

p, .p-3 {
	text-align: center;
}

.plat {
	color: #3cb371;
	font-size: 30px;
}

.desc {
	color: red;
	font-size: 15px;
}