/* TAILLE ELEMENTS */
.header__baniere {
	height: 30vh;
}

.header__baniere__img {
	width: 100%;
	height: 100%;
}

/* TYPO */
.italic {
	font-family: "Dancing Script", cursive;
}

body>* {
	width: 100%;
}

.resto {
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
}

h1, #infosU {
	text-align: center;
}

#formV>input {
	float: right;
	margin-right: 5%;
}