body>* {
	width: 100%;
}

.rond {
	width: 100%;
	heght: 4vh;
}

.resto {
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
}

p, .p-3 {
	text-align: center;
	font-size: 1vmin;
}

.plat {
	color: #3cb371;
	font-size: 30px;
}

.desc {
	color: red;
	font-size: 15px;
}

.rounded-circle {
	width: 304px;
	height: 236px;
}